.about {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2eb398;
    .container-fluid{
        height: 56vh;
        padding-top: 2vh;
        width: 70vw;
        border-left: 2px solid #248e78;
        border-right: 2px solid #248e78
    }
    .row {
        padding: 10vh 0 15vh;
        .hexagon {
            // border-left: 1px solid black;
            @include hexagon;
        }
        .profile {
            background-image: url("../img/profile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        h1 {
            color: #ccf7ef;
        }
        h3 {
            margin-top: -17px;
            color: #248e78;
        }
        p {
            text-align: justify;
            margin-top: 17px;
            margin-bottom: 80px;
            color: #ccf7ef;
        }
    }
    .social {
        opacity: 60%;
        ul {
            list-style-type: none;
            margin-top:50px;
            // display: flex;
            padding:0;

            li {
                display: inline;
                width: 24px;
                height: 24px;
                padding-left:0px;
            }
        }
    }
}