nav {
    width: 100%;
    background-color: #3a3a3a;
    padding: 15px 0 15px 0;
    font-size: 12px;
    text-align: left;
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
    .active {
        color: #2eb398;
    }
    .arrow {
        background-color: #3a3a3a;
        width: 60px;
        position: absolute;
        left: 51%;
        transform: translateX(-50%);
        transform: rotate(45deg);
        .fa-angle-down {
            transform: rotate(-45deg);
            color: white;
        }
    }

}
