@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;

    @import "_nav.scss";
    @import "_portfolio.scss";
    @import "_about.scss";
    @import "_contact.scss";

    // Bars
    .bar, .bar2{
        position: absolute;
        width: 35vw;
        background-color: #e4e9eb;
        height: 2px;
    }
    .bar {
        margin: 25px 65px;
    }
    .bar2 {
        margin: 25px 60vw;
    }
    .portfolioBar{
        background-color: #e4e9eb;
        height: 2px;
        margin: 0;
        // margin-top: 4000px;
    }
    .contactBar{
        background-color: #454545; 
        z-index: 4;
        height: 2px;
        // margin-top: 4000px;
    }
    .borders{
        background-color: #454545; 
        transform: rotate(90deg);
        height: 2px;
    }
    
    .row1 div:nth-child(1){
        border-left: 2px solid #e4e9eb;
        // border-spacing:20px;
        padding-left:50px;
    }
    .row1 div:nth-child(4){
        border-right: 2px solid #e4e9eb;
        // border-spacing:20px;
        padding-right:50px;
    }
    .row3 div:nth-child(1){
        border-left: 2px solid #e4e9eb;
        // border-spacing:20px;
        padding-left:50px;
    }
    .row3 div:nth-child(4){
        border-right: 2px solid #e4e9eb;
        // border-spacing:20px;
        padding-right:50px;
    }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    nav {
        text-align: center;
        .arrow {
            display: none;
        }
      
        .bar {
            position: relative;
            margin: 25px auto;
            width: 60vw;
        }
        .bar2 {
            display: none;
        }
    }

    .portfolio {
        .hexagon {
            width: 150px;
            height: 150px;
            margin: 20px auto 0 auto;
        }
    }
    .about {
        padding-top: 0px;
        padding-bottom: 40px;
        .container-fluid{
            height: 56vh;
            padding-top: 0;
            width: 100vw;
            border-left: none;
            border-right: none;
        }
        .row{
            padding: 2vh 0 30vh;
        }
        .profile {
            margin: 0 auto;
        }
        .social {
            // margin-top: 80px;
            margin-right: 10px;
        }
    }
    .contact {
        input {
            margin-top: 10px;
        }
    }
}
